In [1]:
import pandas as pd

#Conhecendo dados

In [127]:
df= pd.read_csv('data/train.csv')

In [128]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#Tratando dados ----

como existe uma boa quantiadde de nulos na coluna age, o ideal a se fazer seria substituir a idade que falta pela media das idades para não perder um grande número de dados no treino.Para os nulos presentes na coluna de Embarque será melhor excluilos pois representam uma porção muito pequena do dataframe. Já a coluna de Cabine será retirada posteriormente pois não é interessante para a analise do modelo.

In [130]:
#verificando nulos
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [131]:
df_tratamento= df.copy()

In [132]:
#substituindo pela media de idades
idade_media= round(df['Age'].sum()/df['Age'].count())
df_tratamento.fillna({'Age': idade_media}, inplace=True)
df_tratamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [133]:
#dropando nulos da coluna Embarked
df_tratamento = df_tratamento.dropna(subset=['Embarked'])

#Preparação para Modelo


para o modelo é preciso que todas as colunas fiquem em forma númerica. Também é necessario a exclusão de colunas que não são interessantes para o modelo

In [134]:
#Significado de cada Coluna
#passengerid = ID do passageiro do navio (código primário).
#survived = Se sobreviveu ao naufrágio estará como 1 e caso esteja com 0 (zero) não sobreviveu.
#pclass = Tipo de classe de passagem (Do 1 ao 3), sendo 1 a melhor classe e 3 a pior classe.
#name = Nome do passageiro
#sex = Gênero do passageiro, sendo masculino e feminino.
#age = Idade do passageiro na data da ocorrência do naufrágio.
#sibsp = Número de irmãos / cônjuges a bordo.
#parch = Número de pais / filhos a bordo.
#ticket = Código do ticket.
#fare = Valor da passagem.
#cabin = Código de identificação da Cabine.
#embarked = Local ondem o passageiro embarcou no navio.

In [135]:
df_tratamento.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [136]:
#entendendo colonas
df_tratamento['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [137]:
#entendendo culonas
df_tratamento['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [138]:
#Colunas não interessantes
df_tratamento = df_tratamento.drop(columns=['PassengerId','Name','Ticket','Cabin'])

In [139]:
df_tratamento.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [140]:
#Utilizando getdummies para transformar colunas Object em bools
df_tratamento = pd.get_dummies(df_tratamento, columns=['Sex', 'Embarked'])

In [141]:
df_tratamento

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,False,True,False,False,True
1,1,1,38.0,1,0,71.2833,True,False,True,False,False
2,1,3,26.0,0,0,7.9250,True,False,False,False,True
3,1,1,35.0,1,0,53.1000,True,False,False,False,True
4,0,3,35.0,0,0,8.0500,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,False,True,False,False,True
887,1,1,19.0,0,0,30.0000,True,False,False,False,True
888,0,3,30.0,1,2,23.4500,True,False,False,False,True
889,1,1,26.0,0,0,30.0000,False,True,True,False,False
890,0,3,32.0,0,0,7.7500,False,True,False,True,False

In [143]:
#Vemos agora que todas as colunas estão em bool ou em númerico, portanto, podem ser usados para o modelo
df_tratamento.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    889 non-null    int64
 1   Pclass      889 non-null    int64
 2   Age         889 non-null    float64
 3   SibSp       889 non-null    int64
 4   Parch       889 non-null    int64
 5   Fare        889 non-null    float64
 6   Sex_female  889 non-null    bool
 7   Sex_male    889 non-null    bool
 8   Embarked_C  889 non-null    bool
 9   Embarked_Q  889 non-null    bool
 10  Embarked_S  889 non-null    bool
dtypes: bool(5), float64(2), int64(4)
memory usage: 53.0 KB

Pelo modelo que será utilizado[KNN] ser baseado na distância Euclidiana é preciso normalizar os dados para melhorar o desempenho do modelo.

In [152]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
df_normalizado= pd.DataFrame(scaler.fit_transform(df_tratamento),columns=df_tratamento.columns)

#Modelo De Machine Learning

In [153]:
#separando X e Y
x=df_normalizado
x.drop(columns='Survived')
y=df_normalizado['Survived']

In [154]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#separando Treino e Teste
treino_x,teste_x,treino_y,teste_y= train_test_split(x,y,stratify=y,test_size=0.25,random_state=20)


#Modelo KNN
model = KNeighborsClassifier(n_neighbors=3)
model.fit(treino_x, treino_y)
#Obtendo accuracia
previsoes=model.predict(teste_x)
accuracy_score(teste_y, previsoes)*100

99.55156950672645